.body {
    font-family: 'Roboto', sans-serif; 
}
.page-wrapper{
    max-width: 940px;
    margin: auto;
}
.nav {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 31px;
    border-bottom: 1px solid #828282;
}
.nav__link {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  text-decoration: none;
  font-weight: bold;
}
.nav__link_enabled{
    color: black;
}
